.dateNumberPicker {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.dateNumber{
    width: 30px;
    text-align: center;
}

.dateNumber:hover, .dateNumberPicked{
    cursor: pointer;
    font-weight: 600;
}

.monthHeader {
    display: flex;
    justify-content: center;
}

.monthName {
    padding: 5px;
}

.yearNumber{
    padding: 5px;
}

.monthName:hover {
    cursor: pointer;
    font-weight: 600;
}

.monthPicker{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.monthPill{
    width: 50px;
    height: 30px;
    text-align: center;
}